#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Title_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_17 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_18 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_19 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_20 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Ellipse_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Ellipse_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Diamond {
  -ms-transform: rotate(45.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Rectangle_4 {
  -pie-background: linear-gradient(to right,#000000,#9900FF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-main_menu {
  border-collapse: separate;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-menu_item1 {
  border-collapse: separate;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-menu_item2 {
  border-collapse: separate;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}