#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Bg_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Title_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Ellipse_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Ellipse_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Diamond {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.7071067811865476,M12=-0.7071067811865475,M21=0.7071067811865475,M22=0.7071067811865476);
  margin-left: -41px;
  margin-top: -42px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-29deb89b-4318-45d0-b1db-f5fb821ef43a > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}