#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Rectangle_4 {
  -pie-background: linear-gradient(to right,#000000,#9900FF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-main_menu {
  border-collapse: separate;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-menu_item1 {
  border-collapse: separate;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-menu_item2 {
  border-collapse: separate;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Text_2 {
  -ms-transform: rotate(0.0deg);
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}