#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-6766b09b-3986-45d5-8185-fdec322d89c9 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}