#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_1 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_3 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_5 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_6 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_7 {
  rotation: 180.0;
  margin-left: 0px;
  margin-top: -1px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Triangle_8 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_16 {
  -ms-filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0) ;
  filter: alpha(opacity=0) ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-7028c585-5f39-4267-b02b-68f06b1ece6b > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}