#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_2 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_3 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_4 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_5 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_6 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_7 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_8 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_9 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_10 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_11 {
  rotation: 180.0;
  margin-left: -2px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_23 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_29 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  margin-left: -1px;
  margin-top: -3px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_13 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  margin-left: -1px;
  margin-top: -2px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_24 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=-1.8369701987210297E-16,M12=1.0,M21=-1.0,M22=-1.8369701987210297E-16);
  margin-left: 71px;
  margin-top: -73px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_31 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  margin-left: -1px;
  margin-top: -2px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_14 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  margin-left: -1px;
  margin-top: -1px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_8 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=6.123233995736766E-17,M12=-1.0,M21=1.0,M22=6.123233995736766E-17);
  margin-left: 71px;
  margin-top: -71px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Circle {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_33 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  margin-left: -1px;
  margin-top: -2px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_16 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  margin-left: -2px;
  margin-top: -2px;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}