#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_1 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_3 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_4 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 18px 18px 18px 18px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_5 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_6 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_7 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_8 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_2 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_18 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_3 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_13 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_3 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_4 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_14 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_4 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_5 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_5 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_6 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_16 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_6 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_22 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_7 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_17 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_7 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_23 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_8 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_18 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_8 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_24 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_9 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_19 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_9 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_25 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_10 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_20 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_10 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_26 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_11 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_21 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Triangle_11 {
  -ms-transform: rotate(180.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_27 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_12 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_22 {
  border-top-width: 0px;
  border-top-style: solid;
  border-top-color: #404040;
  border-right-width: 0px;
  border-right-style: solid;
  border-right-color: #404040;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #404040;
  border-left-width: 0px;
  border-left-style: solid;
  border-left-color: #404040;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_23 {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #777777;
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: #777777;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: #777777;
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: #777777;
  border-radius: 2px 2px 2px 2px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_29 {
  -ms-transform: rotate(356.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_13 {
  -ms-transform: rotate(1.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_24 {
  -pie-background: linear-gradient(to right,#000000,#9900FF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-main_menu {
  border-collapse: separate;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-menu_item1 {
  border-collapse: separate;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-menu_item2 {
  border-collapse: separate;
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_7 {
  -ms-transform: rotate(270.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_30 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_31 {
  -ms-transform: rotate(356.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_14 {
  -ms-transform: rotate(1.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_8 {
  -ms-transform: rotate(90.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Circle {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_28 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 28px 28px 28px 28px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_29 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 9px 9px 9px 9px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Rectangle_30 {
  border-top-width: 1px;
  border-top-style: dashed;
  border-top-color: #404040;
  border-right-width: 1px;
  border-right-style: dashed;
  border-right-color: #404040;
  border-bottom-width: 1px;
  border-bottom-style: dashed;
  border-bottom-color: #404040;
  border-left-width: 1px;
  border-left-style: dashed;
  border-left-color: #404040;
  border-radius: 17px 17px 17px 17px;
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_32 {
  -ms-transform: rotate(0.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Image_33 {
  -ms-transform: rotate(356.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f #s-Paragraph_16 {
  -ms-transform: rotate(1.0deg);
}
#s-9c125250-d0bc-480c-942a-8def39ea424f > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}