#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_21 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_20 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Text_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Text_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Bg {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Title {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_25 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_26 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_27 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_29 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_30 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_31 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_32 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_33 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_34 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_35 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_8 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_36 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_37 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_38 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_39 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_9 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_10 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_3 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_40 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_11 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_41 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_12 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_42 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_43 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_44 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_13 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_4 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_45 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_14 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_46 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_47 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_48 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_49 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_15 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_16 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_5 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_50 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_17 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_51 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_52 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_53 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_54 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_18 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_19 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_6 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Line_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Line_2 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Line_3 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Line_4 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Line_5 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_7 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Circle {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Circle_1 {
  rotation: 0.0;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_22 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Rectangle_2 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Text_1 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_28 {
  -ms-filter: ;
  filter: ;
  margin-left: 0px;
  margin-top: 0px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Image_29 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9975640502598242,M12=0.06975647374412564,M21=-0.06975647374412564,M22=0.9975640502598242);
  margin-left: -1px;
  margin-top: -2px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 #s-Paragraph_7 {
  -ms-filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  filter:  progid:DXImageTransform.Microsoft.Matrix(SizingMethod = 'auto expand',M11=0.9998476951563913,M12=-0.01745240643728351,M21=0.01745240643728351,M22=0.9998476951563913);
  margin-left: -1px;
  margin-top: -1px;
}
#s-e76e7b7c-d8dc-4f92-9c22-25faddc433f5 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}