#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Bg {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Image_6 {
  -ms-transform: rotate(180.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Ellipse_6 {
  stroke-width: 2px;
  stroke: #CBCBCB;
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Ellipse_4 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Title {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_22 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_23 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Rectangle_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_15 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_24 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Image_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Image_28 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Image_29 {
  -ms-transform: rotate(356.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_4 {
  -ms-transform: rotate(1.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Bg_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Image_8 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Ellipse_7 {
  stroke-width: 2px;
  stroke: #CBCBCB;
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Ellipse_5 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Title_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_9 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_25 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_26 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Rectangle_3 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_16 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Paragraph_27 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Image_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Rectangle_4 {
  -pie-background: linear-gradient(to right,#000000,#9900FF);
  -pie-poll: false;
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Rectangle_2 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-Text_1 {
  -ms-transform: rotate(0.0deg);
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-main_menu {
  border-collapse: separate;
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-menu_item1 {
  border-collapse: separate;
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 #s-menu_item2 {
  border-collapse: separate;
}
#s-f04cfaf8-f5ea-4fef-a3a7-4542cd5f9295 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}